/* Container positioning */
.profile-container {
    position: relative;
    font-family: 'Assistant', sans-serif;
    width: 280px;
}

/* Dropdown styling */
.profile-dropdown {
    background: #fff;
    border: 1px solid #f5f5f6;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: none; /* Hidden by default */
    padding: 15px 0;
}

.menu-group {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .menu-group li {
        padding: 10px 25px;
        font-size: 14px;
        color: #3e4152;
        cursor: pointer;
        transition: background 0.2s;
    }

        .menu-group li:hover {
            background-color: #f5f5f6;
            font-weight: 700;
        }

/* Badge Styling */
.badge-new {
    background-color: #ff3f6c;
    color: white;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 10px;
    font-style: italic;
    margin-left: 8px;
}

hr {
    border: 0;
    border-top: 1px solid #eaeaec;
    margin: 10px 0;
}
